BasedOnStyle: Google

IndentWidth: 2
AccessModifierOffset: -2
ColumnLimit: 0
IncludeBlocks: Merge
AllowShortFunctionsOnASingleLine: All
AllowShortIfStatementsOnASingleLine: AllIfsAndElse
AllowShortLoopsOnASingleLine: true
AlwaysBreakTemplateDeclarations: No
